body{
   
        background-color: blue;
        background-image: url("../img/mayo.png");background-repeat: repeat;
       
    }

  
    
    h1,h2{
        text-align: center;
        color: red;
        background-color: #F9F5E5;
       
    }
    
    .center-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        text-align: center;
    }

    .center-box img{
        width: 300px;
        height: auto;
    }

    .center-box p {
        margin-top: 15 px;
        font-size: 1.2rem;
        max-width: 400px;
        background-color: #F9F5E5;
    }
